/* Helio Goncalves | November, 2018 */

/* General Rules */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    
    font-family: Arial, "Helvetica";
    background-color: #f2f2f2;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Main styles */
  
canvas {
    border: 5px solid pink;
    border-bottom: transparent;
    border-radius: 5px;
}


div {
    width: 400px;
    height: 400px;
    background-color: #2dd8916b;
    border-top: transparent;
    order: 2;

    box-shadow: 0 20px 0 -10px hotpink,
                0 40px 0 -20px pink,
                0 60px 0 -30px gray;
}

h1 {
    font-size: 30px;
    text-align: center;
    padding: 10px 0;
    text-shadow: 2px 2px 5px hotpink;
}

p {
    text-align: justify;
    line-height: 1.5;
    color: #464646;
    margin: 15px 20px;
}


p:nth-child(4) {
    font-style: italic;
    background: pink;
    text-align: center;
}
  